<% provide(:title, "New #{ @customer.is_leaf ? 'customer' : 'group' }") %>

<div class="row">
  	<div class="col-md-4 col-xs-6">
  		<%= form_for @customer, html: { role: "form" } do |f| %>
			<%= render 'fields', f: f, is_leaf: @customer.is_leaf %>
  			<%= f.submit "Update", class: "btn btn-primary btn-md" %>
		<% end %>
  	</div>
</div>