<% provide(:title, 'Default Cart') %>

<table class="table">
  <thead>
	<%= render partial: "shared/grid_header", locals: { columns: [:name, :count] }  %>
  </thead>
  <tbody>	
	<%= render partial: "cart_items", collection: @cart_items %>
  </tbody>
</table>
