<tr>
  <td><span class="glyphicon glyphicon-folder-open"></span></td>
  <td>
  	<strong>
  		<%= link_to " .. / #{product_parents.name}", products_path + 
  					( !product_parents.group_id.nil? ? "?grp_id=#{product_parents.group_id}" : "" ) %>
  	</strong>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
    