<% provide(:title, 'Products list') %>

<table class="table">
  <thead>
	<%= render partial: "shared/grid_header", locals: { columns: [:product_glyph, :name, :purchase_price, 
									:cash_price, :noncash_price, :buttons], 
									params: ['products', params[:grp_id]] }  %>
  </thead>
  <tbody>	
	<%= render partial: "shared/grid_parents_row", collection: @product_parents , as: :item,
									locals: { path: products_path, skip_columns: 4 } %>
	<%= render @products %>
  </tbody>
</table>
